@font-face {
    font-family: courierPrime;
    src: url(fonts/CourierPrime-Regular.ttf)
}

a {
    color: black;
}

 body {
    padding-right: 350px;
    padding-left: 350px;
 }

.top {
    text-align: center;
    border-bottom: 4px dashed black
}

.topText {
    font-family: courierPrime;
    font-size: 40px;
    text-decoration: none;
}

.article_1 {
    border: 2px solid black;
    border-radius: 10px;
    margin-top:50px;
    padding: 10px;
    font-family: CourierPrime;
}

.link {
    text-decoration: none;
    font-size: 30px;
}